## LOOPS
* for
* while

## Syntax of for
* for i in range(arg):--> when input is in integer value
* for i in variable_name:-->when input is in string values

In [1]:
# print first 10 numbers(single parameter)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# print Numbers(Double parameter)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# print step count
for i in range(1,11,3):
    print(i)

1
4
7
10

In [9]:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
for i in range(a,b):
    if i%2==0:
        print(i)

Enter a value1
Enter b value11
2
4
6
8
10

In [13]:
# print N natural Numbers 
a=int(input("enter a value"))
for i in range(1,a+1):
    print(i)

enter a value10
1
2
3
4
5
6
7
8
9
10

In [19]:
# print N natural Numbers 
a=int(input("enter a value"))
sum1=0
for i in range(1,a+1):
    print(i,end=' ')
    sum1 +=i
print("\n",sum1)
print(sum1/a)

enter a value10
1 2 3 4 5 6 7 8 9 10
 55
5.5

In [28]:
a=int(input("enter a value"))
b=int(input("Enter b value"))
sum1=0
count=0
for i in range(1,a+1):
        count=count+1
        sum1=sum1+i
print("Sum of even numbers",sum1)
print("Average of even numbers",sum1/count)

enter a value2
Enter b value4
Sum of even numbers 3
Average of even numbers 1.5

In [27]:
a=(input())
b=(input())
sum1=0
count=0
for i in range(int(a),int(b)+1):
        count=count+1
        sum1=sum1+int(i)
print("Sum is:",sum1)
print("Average is:",sum1/count)

5
7
Sum is: 18
Average is: 6.0

In [3]:
# print factorial of a number
def fact(num):
    f=1
    for i in range(1,num+1):
        f*=i
    return f
g=int(input())
print(fact(g))

5
120

In [4]:
# check the prime or not
a=int(input())
factor_count=0
for i in range(1,a+1):
    if a%i==0:
        factor_count += 1
if factor_count==2:
    print(a,"is a prime")
else:
    print(a,"is not a prime")

11
11 is a prime

In [7]:
# print a perfect number
def perfect(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            sum+=i
    return sum==n
perfect(int(input()))

6

True

# SHAHITHA

In [3]:
a=int(input())
if a%2==0:
    sum=0
    for i in range(1,a):
        if(a%i==0):
            sum+=i
    if(sum==a):
        print(a,"is even and perfect number")
    else:
        print(a,"is odd and not a perfect number")
else:
    def fact(num):
        f=1
        for i in range(1,num+1):
            f*=i
        return f
    k=fact(a)
    print("Odd number\nThe factorial of {} is {}".format(a,k))
    print(len(str(k)))

100
100 is odd and not a perfect number

In [4]:
# a=int(input())
for i in range(1,11):
    print("{}*{}={}".format(a,i,a*i))

100*1=100
100*2=200
100*3=300
100*4=400
100*5=500
100*6=600
100*7=700
100*8=800
100*9=900
100*10=1000

In [8]:
# PRINT ALL TABLES 
a=int(input())
for j in range(1,a+1):
    print("\n*** {} TABLE ***\n".format(j))
    for i in range(1,11):
        print("{}*{}={}".format(j,i,j*i))

5

*** 1 TABLE ***

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

*** 2 TABLE ***

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

*** 3 TABLE ***

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

*** 4 TABLE ***

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

*** 5 TABLE ***

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# Jump Statments
* BREAK
* CONTINUE

In [1]:
# BREAK EXAMPLE
n=int(input())
for i in range(1,n+1):
    print(i)
    if i ==4:
         break

7
1
2
3
4

In [7]:
# CONTINUE EXAMPLE
n=int(input())
for i in range(1,n+1):
    if i ==1:
        continue
    print(i,end=" ")

9
2 3 4 5 6 7 8 9

In [9]:
# With String Values
name=input()
for i in name:
    print(i,end=" ")

Shahitha
S h a h i t h a

# Ascii Value
* ord() --> PARAMETER IS STRING(CHARACTER)
* chr() --> CALICULATING CHARACTER FROM ASCII VALUE --> PARAMETER(NUMBER)

In [10]:
# USING ORD()
print(ord('A'))
print(ord('B'))
print(ord('1'))

65
66
49

In [15]:
# USING CHR()
print(chr(69))
print(chr(70))
print(chr(1))

E
F


In [17]:
# PRINT ASCII VALUE OF A CHARACTER FROM GIVEN STRING
name =input()
for i in name:
    print(ord(i))

SHAHITHA
83
72
65
72
73
84
72
65

In [26]:
name =input()
for i in name:
    if ord(i)%2==0:
         print(ord(i))

SHAHITHA
72
72
84
72

In [28]:
name =input()
for i in name:
    if ord(i)%2==0:
         print(i)

SHAHITHA
H
H
T
H

In [10]:
for i in input():
    if(ord(i)%2==0):
        print(i,end=' ')
    else:
        k=(2*ord(i))//40
        print(chr(k),end=" ")

shahi
 h  h 

In [11]:
for i in input():
    if(ord(i)%2==0):
        print(i,end=' ')
    else:
        k=(2*ord(i))*ord(i)/90
        k1=int(k)
        print(chr(k1),end=" ")

shahi
ĥ h Ñ h õ

# WHILE LOOP
##### SYNTAX OF WHILE
            * WHILE CONDITION:
                BODY OF WHILE LOOP

In [12]:
#WHILE EXAMPLE
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [15]:
i=1
while i<=10:
    if i%2==0:
        print(i,end=" ")
    i=i+1

2 4 6 8 10

### FUNCTIONS
* BLOCK OF STATEMENTS TO PERFORM PARTICULAR TASK IS CALLED FUMCTION
* BLOCK OF STATEMENTS WILL EXECUTE AND RETURN THE RESULT WHEN FUNCTION CALLED 
##### FUNCTIONS CONTAIN
1. FUNCTION DECLARATION
2. BODY OF FUNCTION
3. FUNCTION CALLING
#### TYPES OF FUNCTIONS\
1. USER DEFINE
    * IT IS A FUNCTION WHICH IS DEFINED AS USER TO PERFORM PARTICULAR TASK
    1. REQUIRED ARGUMENT
    2. DEFAULT ARGUMENT
    3. KEYWORD ARGUMENT
    4. VARIABLE LENGTH
2. BUILT_IN
    1. MAX -->CALICULATE MAXIMUM VALUE
    2. MIN -->CALICULATE MINIMUM VALUE
    3. LEN -->LENGTH OF THE GIVEN INPUT
    4. ORD 
    5. SUM -->CALICULATE SUM
    6. CHR 
    7. ABS -->ABSOLUTE VALUE

### SYNTAX OF FUNCTION
* def function_name(arg): --> FUNCTION DECLARATION
*     body of function -->BODY OF FUNCTION
* function_name() --> FUNCTION CALLING

In [4]:
name=input()
def sample1():
    print("Welcome To Vignan's Lara Institute Of Technology And Sciences",name)
sample1()

Shahitha
Welcome To Vignan's Lara Institute Of Technology And Sciences Shahitha

In [22]:
def function(a):
    if a%2==0:
        sum=0
        for i in range(1,a):
            if(a%i==0):
                sum+=i
        if(sum==a):
            print(a,"is even and perfect number")
        else:
            print(a,"is odd and not a perfect number")
    else:
        def fact(num):
            f=1
            for i in range(1,num+1):
                f*=i
            return f
        k=fact(a)
        print(" {} is an Odd number\nThe factorial of the number is {}".format(a,k))
function(7)
function(5)
function(6)

 7 is an Odd number
The factorial of the number is 5040
 5 is an Odd number
The factorial of the number is 120
6 is even and perfect number

In [32]:
# REQUIRED 
phn=int(input())
def Required(name,org,phn):
    print("Name is:",name)
    print("Organization is:",org)
    print("Phone number is:",phn)
Required('shahi','vignan',phn)

8179107648
Name is: shahi
Organization is: vignan
Phone number is: 8179107648

In [ ]:
# default arg
def Default():