## LOOPS
* for
* while

## Syntax of for
* for i in range(arg):--> when input is in integer value
* for i in variable_name:-->when input is in string values

In [1]:
# print first 10 numbers(single parameter)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# print Numbers(Double parameter)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# print step count
for i in range(1,11,3):
    print(i)

1
4
7
10

In [9]:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
for i in range(a,b):
    if i%2==0:
        print(i)

Enter a value1
Enter b value11
2
4
6
8
10

In [13]:
# print N natural Numbers 
a=int(input("enter a value"))
for i in range(1,a+1):
    print(i)

enter a value10
1
2
3
4
5
6
7
8
9
10

In [19]:
# print N natural Numbers 
a=int(input("enter a value"))
sum1=0
for i in range(1,a+1):
    print(i,end=' ')
    sum1 +=i
print("\n",sum1)
print(sum1/a)

enter a value10
1 2 3 4 5 6 7 8 9 10
 55
5.5

In [28]:
a=int(input("enter a value"))
b=int(input("Enter b value"))
sum1=0
count=0
for i in range(1,a+1):
        count=count+1
        sum1=sum1+i
print("Sum of even numbers",sum1)
print("Average of even numbers",sum1/count)

enter a value2
Enter b value4
Sum of even numbers 3
Average of even numbers 1.5

In [27]:
a=(input())
b=(input())
sum1=0
count=0
for i in range(int(a),int(b)+1):
        count=count+1
        sum1=sum1+int(i)
print("Sum is:",sum1)
print("Average is:",sum1/count)

5
7
Sum is: 18
Average is: 6.0

In [3]:
# print factorial of a number
def fact(num):
    f=1
    for i in range(1,num+1):
        f*=i
    return f
g=int(input())
print(fact(g))

5
120

In [4]:
# check the prime or not
a=int(input())
factor_count=0
for i in range(1,a+1):
    if a%i==0:
        factor_count += 1
if factor_count==2:
    print(a,"is a prime")
else:
    print(a,"is not a prime")

11
11 is a prime

In [7]:
# print a perfect number
def perfect(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            sum+=i
    return sum==n
perfect(int(input()))

6

True

# SHAHITHA

In [12]:
a=int(input())
if a%2==0:
    sum=0
    for i in range(1,a):
        if(a%i==0):
            sum+=i
    if(sum==n):
        print(a,"is even and perfect number")
    else:
        print(a,"is odd and not a perfect number")
else:
    def fact(num):
        f=1
        for i in range(1,num+1):
            f*=i
        return f
    k=fact(a)
    print("Odd number\nThe factorial of {} is {}".format(a,k))
    print(len(str(k)))

199
Odd number
The factorial of 199 is 3943289336823952517761816069660925311475679888435866316473712666221797249817016714601521420059923119520886060694598194151288213951213185525309633124764149655567314286353816586186984944719612228107258321201270166459320656137141474266387621212037869516201606287027897843301130159520851620311758504293980894611113948118519486873600000000000000000000000000000000000000000000000
373

In [16]:
a=int(input())
for i in range(1,11):
    print("{}*{}={}".format(a,i,a*i))

9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

In [8]:
# PRINT ALL TABLES 
a=int(input())
for j in range(1,a+1):
    print("\n*** {} TABLE ***\n".format(j))
    for i in range(1,11):
        print("{}*{}={}".format(j,i,j*i))

5

*** 1 TABLE ***

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

*** 2 TABLE ***

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

*** 3 TABLE ***

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

*** 4 TABLE ***

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

*** 5 TABLE ***

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# Jump Statments
* BREAK
* CONTINUE

In [1]:
# BREAK EXAMPLE
n=int(input())
for i in range(1,n+1):
    print(i)
    if i ==4:
         break

7
1
2
3
4

In [7]:
# CONTINUE EXAMPLE
n=int(input())
for i in range(1,n+1):
    if i ==1:
        continue
    print(i,end=" ")

9
2 3 4 5 6 7 8 9